body {
  background-color:black;
}
h1 {
  color: #6600ff;
  font-size: 80px;
}
h2 {
  color: #6600ff;
  font-size: 50px;
}
h3 {
  color: #ff0000;
  font-size: 70px;
}
p {
  color: #6600ff;
  font-size: 40px;
}
hr {
  background-color: #00ff00;
  border-top: 5px;
}