body {
    background-color: #e6cd31;
}

div {
    display: inline-block;
    border: 1px solid olivedrab;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
}
div.b12 {
    width: calc(100% - 22px);
    height: 400px;
}
div.b4 {
    width: calc(33% - 22px);
    height: 100px;
}