body {
    margin: 0;
}
header {
    width: 100%;
    height: 60px;
    padding: 14px;
    border-top: 7d7d7d7d;
}
header h1 {
    margin: 0;
}
main {
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 7d7d7d7d;
}
footer {
    width: 100%;
    height: 40px;
}
div {
    display: inline-block;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #7d7d7d40;
    border-radius: 20px;
    overflow: hidden;
}
div.b12 {
    width: calc(100% - 20px);
}
div.b8 {
    width: calc(66% - 20px); 
}
div.b6 {
    width: calc(50% - 20px);
}
div.b4 {
    width: calc(33% - 20px);
}
div.b3 {
    width: calc(25% - 20px);
}
div:hover {
    background-color:rgba (80, 80, 80, 80 );
    box-shadow: slategrey;
}
video {
    height: 100%;
    width: 500px;
    box-shadow : 0 0 10px green;
    border-radius: 20px;    
}
img {
    width: 100%;
}
audio {
    max-width: 100%;
}
td {
    background: lawngreen0;
}